/* Colors and Accents for the entire page */
:root {
  --accent-color-1: rgb(35, 26, 109);
  --accent-color-2: rgb(149, 230, 230);
  --accent-color-3: pink;
}

/* Applies to name title at top of page */
#large-title {
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
}

/* Applies to Nav Bar */
.nav-bar {
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  font-size: larger;
  align-items: center;
  display: inline;
  position: fixed;
  width: 1000px;
  
}

/* Nav Bar Psuedo Classes / Effects */
.nav-bar:hover {
  background-color: var(--accent-color-3);
}
  
/* Applies to large main coding banner */
#main-banner {
  width: 100%;
}

/* Applies to page section titles (About Me, Work, Contact Me) */
.section-title {
  color: var(--accent-color-1);
  text-decoration: underline;

}

/* Applies to "work" section displaying portfolio items */
.project-boxes {
  width: 250px;
  height: 75px;
  background-color: var(--accent-color-1);
  color: var(--accent-color-2);
}

/* Applies to all project boxes under "work" */
#all-projects {
/* display: flex; */
/* flex-direction: row; */
flex-wrap: wrap;
/* justify-content: space-around; */
padding: 30px;
}


#contact-me-items flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
