/* Colors and Accents for the entire page */
:root {
    --accent-color-1: #B2C1A2;
    --accent-color-2: #517470;
    --accent-color-3: #30513E;
    --accent-color-4: #AAAE9F;
    --accent-color-5: #f1e5d0;
}

/* Applies background color to entire page */
body {
    background-color: var(--accent-color-5);
    margin-left: 2%;
    margin-right: 3%;
    font-family: 'Canva Sans', sans-serif;
}

/* Applies to main image at top of screen  */
header {
    background-color: var(--accent-color-2);
    height: 170px;
    border: 5px solid var(--accent-color-3);
}
#logo {
    height: 170px;
    
}

/* Applies to Nav Bar */
nav {
    text-decoration: none;
    color: var(--accent-color-1);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Applies to Navigation Bar Items */

nav a {
    color: var(--accent-color-1);
    font-size: 1.5em;
    text-decoration: none;
    padding-top: 50px;
}

/* Nav Bar Psuedo Classes / Effects */
.nav-item:hover {
    color: var(--accent-color-3);
}

a {
    color: var(--accent-color-1);
}
/* Applies to page section titles (About Me, Work, Contact Me) */
.section-title {
    color: var(--accent-color-3);
    background-color: var(--accent-color-1);
    border: 5px solid var(--accent-color-3);
    width: 98%;
    padding: 10px;
    display: flex;
    align-items: center;
}

.work-section-title {
    color: var(--accent-color-3);
    background-color: var(--accent-color-1);
    border: 5px solid var(--accent-color-3);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
}

/* Applies to about me section and photo */

#about-me-photo {
    border: 5px solid var(--accent-color-3);
    height: 350px;
    margin: 10px;
}

/* Entire about me box */
.about {
    display: flex;
    align-items: center;
    background-color: var(--accent-color-1);
    border: 5px solid var(--accent-color-3);
    background-image: url(../assets/project-pics/A1W8Q0+AH9L._AC_SX569_.jpg);
}

#about-me-paragraph {
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    margin-right: 35px;
    padding: 15px;
    color: var(--accent-color-2);
    background-color: var(--accent-color-1);
    border: 5px solid var(--accent-color-3);
}

/* Applies to "work" section displaying portfolio items */
.project-boxes {
    width: 48%;
    color: var(--accent-color-2);
  padding-left: 10px;
    margin: 10px 0;
    border: 5px solid var(--accent-color-1);
    filter: blur(85%);
    -webkit-filter: blur(85%);
}

/* CLASSES TO OFFSET SIZES OF CARDS */

/* .smaller-box {
    height: 100px;
}

.larger-box {
    height: 200px;
} */

/* Applies hover brightening effect to projects */
.project-boxes:hover {
    filter: blur(0%);
    filter: brightness(120%);
    -webkit-filter: brightness(120%);
}

/* Applies to Project Title and Subtitle */
.title-lang-box {
    background-color: var(--accent-color-4);
     /* background-color: rgba(170, 174, 159, 0.70); */
    width: 40%;
    border: 1.5px solid var(--accent-color-1);
    margin: 4px;

}

.project-heading {
    margin-left: 10px;
    color: var(--accent-color-2);
}

/* Adds Margin around smaller project subheadings */
.subheading {
    /* margin: 0 0 0 10px; */
   }

/* Applies to all project boxes under "work" */
.all-projects {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
}


#project-1 {
  background-image: url(../assets/project-pics/Medium\ tropical\ banana\ leaves\ -\ forest\ _\ pale\ peach.jpg)
}
#project-2 {
  background-image: url(../assets/project-pics/Cool\ summer\ ferns.jpg);
}
#project-3 {
  background-image: url(../assets/project-pics/Taro\ Leaf\ -\ Sage\ Green.jpg);
}
#project-4 {
  background-image: url(../assets/project-pics/Eucalyptus\ Leaf\ Pattern\ in\ Teal\,\ Sage\ and\ Mint\ Green\ on\ White.jpg);
}
#project-5 {
  background-image: url(../assets/project-pics/Flower\ Toss-Navy-Teal\ Collection.jpg);
}
#project-6 {
  background-image: url(../assets/project-pics/Flowers\ for\ Emma\ in\ Sage\ and\ Teal.jpg);
} 
#project-7 {
  background-image: url(../assets/project-pics/Forest\ dragons\ green\ on\ a\ dark\ green\ background.jpg);
} 
#project-8 {
  background-image: url(../assets/project-pics/Hidden\ unicorn\ woods.jpg);
} 
/* Overlay links to project */

overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* Contact Me Section */

.contact-me-items {
    color: var(--accent-color-1);
    font-size: medium;
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    top: 0px;
}

/* Colors the contact me items */
.contact-me-items a {
    color: var(--accent-color-1);
    font-size: 1.5em;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    padding-bottom: 20px;
}

/* Applies Psuedo Classes / Effects to Contact Info*/
.contact:hover {
    background-color: var(--accent-color-3);
    color: var(--accent-color-2);
}

/* Applies size to all section titles */
h1 {
    font-size: 2.5em;
}

/* Applies CSS to "Made with CSS and love" footer */
footer h4 {
    color: var(--accent-color-3);
    background-color: var(--accent-color-1);
    height: 15px;
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
}

/* Media Screens (also look at line 125)*/
@media screen and (max-width: 820px) {
    .contact-me-items a {
        font-size: 1em;
    }
    .contact-me-items {
        display: block;
    }
    nav {
        font-size: 1em;
        display: block;
    }
    nav a {
        font-size: 0.9em;
        display: flex;
    }
    .project-heading {
        font-size: 0.8em;
        display: flex;
    }
    .subheading {
        font-size: 0.5em;
        display: flex;
    }
}
