/* Colors and Accents for the entire page */
:root {
  --accent-color-1: rgb(35, 26, 109);
  --accent-color-2: rgb(149, 230, 230);
  --accent-color-3: pink;
}

/* Applies to name title at top of page */
#large-title {
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  
}

/* Applies to Nav Bar */
nav {
  color: var(--accent-color-1);
  background-color: var(--accent-color-2);
  font-size: larger;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0px;
 
}


/* Nav Bar Psuedo Classes / Effects */
.nav-item:hover {
  background-color: var(--accent-color-3);
}

/* Applies to large main coding banner */
#main-banner {
  width: 100%;
}

/* Applies to page section titles (About Me, Work, Contact Me) */
.section-title {
  color: var(--accent-color-1);
  text-decoration: underline;
}

/* Applies to "work" section displaying portfolio items */
.project-boxes {
  width: 100%;
  height: 100px;
  background-color: var(--accent-color-1);
  color: var(--accent-color-2);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 0;
  
}
.project-heading {
  margin-left:10px;
}

.subheading {
  margin: 0 0 0 10px;
}


/* Applies to all project boxes under "work" */
.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}


#project-1 {
  background-image: url(../assets/project-1-image.jpg);
}

#contact-me-items flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
