/* Colors and Accents for the entire page */
:root {
  --accent-color-1: rgb(35, 26, 109);
  --accent-color-2: rgb(149, 230, 230);
  --accent-color-3: rgb(83, 175, 236);
  --accent-color-4: rgb(11, 11, 240);

}

/* Applies to main image at top of screen  */

header {
 background-image: url(./project-2-image.avif);
 height: 300px;
}

/* Applies to Nav Bar */
nav {
  text-decoration: none;
  color: var(--accent-color-2);
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  top: 0px;
  padding: 0;
  margin: 0;
  
/* Applies to Navigation Bar Items */
}
nav a {
  color: var(--accent-color-2);
}
nav h1 {
  display: flex;
  justify-content: flex-start;
}


/* Nav Bar Psuedo Classes / Effects */
.nav-item:hover {
  background-color: var(--accent-color-3);
  color: var(--accent-color-2);
}



/* Applies to page section titles (About Me, Work, Contact Me) */
.section-title {
  color: var(--accent-color-1);
  text-decoration: underline;
}

/* Applies to "work" section displaying portfolio items */
.project-boxes {
  width: 100%;
  height: 100px;
  background-color: var(--accent-color-1);
  color: var(--accent-color-2);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px 0;
  border: 5px solid var(--accent-color-1);
}

.project-boxes:hover {
  filter: brightness(200%);
  -webkit-filter: brightness(200%);
}

/* Applies to Project Title and Subtitle */
.project-heading {
  margin-left:10px;
}

.subheading {
  margin: 0 0 0 10px;
}


/* Applies to all project boxes under "work" */
.all-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}



/*Applies to individual project IDs */
#project-1 {
  background-image: url(../assets/project-1-image.jpg);
}
#project-2 {
  background-image: url(../assets/project-2-image.jpg);
}
#project-3 {
  background-image: url(../assets/project-3-image.jpg);
}
#project-4 {
  background-image: url(../assets/project-4-image.jpg);
}
#project-5 {
  background-image: url(../assets/project-5-image.jpg);
}
#project-6 {
  background-image: url(../assets/project-6-image.jpg);
}
/* Contact Me Section */
.contact-me-items {
  color: var(--accent-color-1);
  font-size: medium;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  
  top: 0px;
}

/* Colors the contact me items */
.contact-me-items a {
  color: var(--accent-color-1);
  font-size: 1.5em;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

/* Applies Psuedo Classes / Effects to Contact Info*/
.contact:hover {
  background-color: var(--accent-color-3);
  color: var(--accent-color-2);
}

/* Applies size to all section titles */
h1 {
  font-size: 2.5em;
}

/* Applies CSS to "Made with CSS and love" footer */
footer h4 {
  color: var(--accent-color-3);
  background-color: var(--accent-color-1);
  height: 15px;
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: center;
}

